.dynamicInput {
    margin-left: 18px;
    padding-left: 33px;
    padding-top: 0;
}

.form-group .panel-border-narrow.dynamicInput {
    margin-bottom: 20px;
}

.char-counter [data-char-field] {
    width: 100%;
    height: 100%;
}

.char-counter-text {
    text-align: left;
}