@import 'partials/_variables';
@import 'partials/_base';

@import 'partials/_forms';
@import 'partials/_typography';

@import 'partials/_utilities';

@import 'partials/_shame';


.dynamicInput {
    margin-left: 18px;
    padding-left: 33px;
    padding-top: 0;
}

.form-group .panel-border-narrow.dynamicInput {
    margin-bottom: 20px;
}
